*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container{
    width: 100vw;
    padding: 1rem;
    text-align: center;
    background-color: navy;
    min-height: 100vh;
}
.form-container{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 1rem;
}
.form-container input, .form-container button{
    margin: 1rem 0.5rem;
    height: 3rem;
    font-size: larger;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    
}
h1{
    color: white;
}

.form-container button{
    background-color: navy;
    color: white;
    cursor: pointer;
}
p{
    text-align: left;
    color: red;
    font-weight:600 ;
    margin-left: 1rem;
}

@media screen and (max-width:1000px){
    .form-container{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    .form-container{
        width: 100%;
    }
    .main-container{
        padding: 0rem;
    }
}